:root {
  box-sizing: border-box;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  font-size: 3.3vw;
  gap: 15px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.fancy-button {
  display: flex;
  font-size: 1.6rem;
  color: #555555;
  align-items: center;
  padding: 0.2em;
  margin: 4em;
  width: fit-content;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background: #b7b7b7;
  text-shadow: white 0 0.7px 0;
  height: 2.4em;

  line-height: 2.4em;
  font-weight: bolder;
  font: bold 1rem sans-serif;

  box-shadow: 0 1px 2px 1px #555555, 0 0 0 0.3em #cbcbcb,
    0 4px 3px 0px rgba(0, 0, 0, 0.75), inset 0px 1.1em 1px 0 #dadada,
    0 0 0 calc(0.35em + 2px) white, 0 0 0 calc(0.35em + 4px) #666666;
  border-radius: 4px;
}

.fancy-button::before {
  content: "★";
  font-size: 1.2rem;
  margin: 10px;
  color: #888888;
}

.fancy-button::after {
  content: "★";
  font-size: xx-large;
  margin: 5px;
  color: rgba(122, 116, 122, 0.9);
}

form > label {
  flex: 0 0 auto;
}

.form-field {
  flex: 1 1 auto;
}

input {
  display: block;
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid black;
  height: 100%;
  font-size: 1rem;
}

input:focus,
input:focus-visible {
  outline: none;
}

[data-hint]::before {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  font-size: 0.6rem;
  top: calc(-32px + 14px);
  left: 160px;
  background-color: black;
  box-shadow: 2px 1px 5px 0.2px rgba(0, 0, 0, 0.75);
  transform: rotate(45deg);
}

[data-hint]::after {
  content: attr(data-hint);
  position: absolute;
  top: -32px;
  font-size: 0.6rem;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 2px 1px 5px 0.2px rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.3em;
}

form > button {
  width: 100%;
  flex-grow: 0;
  margin: 1em 10em;
  min-width: max-content;
  width: max-content;
  background-color: #ff6348;
  color: white;
  padding: 0.8em 2em;
  border-radius: 30px;
  border: none;
  font-weight: bold;
}
